body {
  font-family: 'Roboto', sans-serif; }

.bg-solitude {
  background-color: #e7ecf0; }

.flaticon {
  display: block; }

button:focus {
  outline: none; }

header {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 99;
  width: 100%; }
  header.is-fixed {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    animation: headerAnimation 0.4s ease; }

@keyframes headerAnimation {
  0% {
    transform: translateY(-130px); }
  100% {
    transform: translateY(0); } }
.nav-right {
  flex-direction: row-reverse; }

.flydata-navbar .navbar-brand {
  padding: 0; }
.flydata-navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 15px;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
  padding-left: 0;
  padding-right: 0; }
  .flydata-navbar .navbar-nav .nav-item .nav-link:before {
    width: 0%;
    height: 3px;
    background-color: #fff;
    content: "";
    position: absolute;
    top: calc(100% - 7px);
    left: 0;
    transition: ease all 0.5s; }
  .flydata-navbar .navbar-nav .nav-item .nav-link:hover:before {
    width: 100%; }
.flydata-navbar .navbar-nav .nav-item.active .nav-link:before {
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  position: absolute;
  top: calc(100% - 7px);
  left: 0; }

.links li a {
  font-size: 20px;
  color: #fff;
  margin-left: 12px;
  transition: ease all 0.5s; }
  .links li a:hover {
    opacity: 0.8; }

.banner-section {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1; }
  .banner-section.inner-page {
    min-height: 360px;
    bottom: auto; }

.banner {
  position: relative;
  min-height: 100vh;
  z-index: 1;
  overflow: hidden; }
  .banner:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    z-index: 2; }
  .banner.inner-page {
    min-height: 360px; }
    .banner.inner-page div {
      background-position: center; }
    .banner.inner-page:before {
      z-index: 3; }

.banner div {
  width: 100%;
  height: 100vh;
  z-index: 0;
  position: absolute;
  transition: ease all 2s;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: all .2s;
  background-size: cover;
  background-position: center center; }

.banner div.animate {
  background-position: center center;
  animation-name: banneranimate;
  animation-duration: 4s;
  animation-fill-mode: forwards; }

.banner div:first-child {
  z-index: 2;
  opacity: 1; }

@keyframes banneranimate {
  0% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
.caption-h1 {
  font-weight: 900;
  font-family: Raleway, sans-serif;
  font-size: 4vw;
  color: #fff; }

.caption-p {
  font-size: 18px;
  color: #ededed; }

.search-box {
  width: 70%; }
  .search-box input[type="text"] {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #fff;
    padding-left: 30px;
    padding-right: 50px;
    font-size: 14px; }
    .search-box input[type="text"]:focus {
      outline: none; }
    .search-box input[type="text"]::-webkit-input-placeholder {
      color: #fff; }
    .search-box input[type="text"]:-ms-input-placeholder {
      color: #fff; }
    .search-box input[type="text"]::placeholder {
      color: #fff; }

.search-btn {
  margin-left: -50px;
  color: #fff;
  font-size: 23px; }
  .search-btn:focus {
    outline: none; }

.coutries {
  padding-left: 15px; }

.coutries-carousel .item {
  position: relative;
  border-radius: 5px;
  overflow: hidden; }
  .coutries-carousel .item a {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .coutries-carousel .item .over-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 2; }
    .coutries-carousel .item .over-content .over-content-inner {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      .coutries-carousel .item .over-content .over-content-inner h4 {
        color: #fff;
        text-transform: uppercase;
        font-size: 28px; }
      .coutries-carousel .item .over-content .over-content-inner h5 {
        color: #fff;
        font-size: 14px;
        display: flex; }
        .coutries-carousel .item .over-content .over-content-inner h5:before {
          content: "";
          width: 30px;
          height: 6px;
          border-radius: 3px;
          background-color: #0072ec;
          align-self: flex-end;
          margin-right: 10px; }
      .coutries-carousel .item .over-content .over-content-inner p {
        color: #fff;
        font-size: 13px; }
      .coutries-carousel .item .over-content .over-content-inner .price {
        background-color: #0072ec;
        padding: 3px 10px;
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        transform: translatex(-150%);
        position: absolute;
        bottom: 15px;
        left: 15px; }
      .coutries-carousel .item .over-content .over-content-inner .animated-content {
        width: 100%;
        position: absolute;
        top: calc(100% - 90px);
        transition: 0.5s; }
      .coutries-carousel .item .over-content .over-content-inner:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: 0.5s; }
    .coutries-carousel .item .over-content:hover .animated-content {
      transition: 0.5s;
      transition-delay: 0s;
      transition-duration: 1s;
      top: 0%; }
    .coutries-carousel .item .over-content:hover .price {
      transition: 0.5s;
      transition-delay: 0.8s;
      transition-duration: 1s;
      transform: translatex(0%); }
    .coutries-carousel .item .over-content:hover .over-content-inner:before {
      background-color: rgba(0, 0, 0, 0.4); }

.carousel-btns {
  position: relative;
  z-index: 2;
  justify-content: flex-end;
  transform: translateX(90px) translateY(-30px); }
  .carousel-btns .pwPrev, .carousel-btns .pwNext {
    width: 2.125rem;
    height: 2.125rem;
    cursor: pointer;
    position: relative;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    transition: ease all 0.5s;
    color: #fff; }
  .carousel-btns .pwPrev:before, .carousel-btns .pwNext:before {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2.2rem; }
  .carousel-btns .pwPrev:hover, .carousel-btns .pwNext:hover, .carousel-btns .tmPrev:hover, .carousel-btns .tmNext:hover {
    background-color: #0272bc;
    color: #fff; }
  .carousel-btns .pwPrev:before {
    content: "\f053";
    font-family: 'FontAwesome'; }
  .carousel-btns .pwNext:before {
    content: "\f054";
    font-family: 'FontAwesome'; }

.explore {
  background-image: url(../images/bg-exp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 7vw; }
  .explore:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); }

.rating-section {
  background-image: url(../images/bg-exp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 4vw;
  padding-bottom: 3vw; }
  .rating-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); }

.preferences-section {
  background-image: url(../images/bg-exp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 4vw;
  padding-bottom: 3vw; }
  .preferences-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); }

.s-t h2 {
  display: inline-block;
  position: relative;
  font-size: 3vw;
  font-weight: 700;
  color: #0072ec; }
  .s-t h2:before {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    height: 2px;
    width: 80%;
    background-color: #d8d8da; }
  .s-t h2:after {
    content: "";
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    height: 4px;
    width: 30%;
    background-color: #565656; }

.flydata-card .card-list {
  margin-bottom: 15px; }
  .flydata-card .card-list:last-child {
    margin-bottom: 0; }
  .flydata-card .card-list a {
    text-decoration: none;
    display: block;
    transition: ease all 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
    .flydata-card .card-list a:hover {
      transform: scale(1.05);
      background-color: rgba(255, 255, 255, 0.7) !important; }
  .flydata-card .card-list .text h4 {
    font-size: 18px;
    color: #515151; }
  .flydata-card .card-list .text p {
    color: #515151;
    font-size: 14px; }
  .flydata-card .card-list .img-box {
    flex: 0 0 110px;
    width: 110px; }

.share {
  background-color: #f0f0f0; }

.compare {
  background-color: #e8ecf0; }

.box {
  position: relative; }
  .box:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    pointer-events: none; }
  .box .category-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }
    .box .category-name h4 {
      color: #fff;
      font-size: 1.8vw;
      font-weight: 400;
      white-space: nowrap; }
  .box img {
    transition: ease all 1s;
    width: 100%; }
  .box:hover img {
    transform: scale(1.2); }
  .box a {
    display: block;
    height: 100%; }

.footer {
  background-color: #2c2d2e; }

.footer-menu li {
  margin-right: 15px;
  margin-left: 15px; }
  @media (max-width: 556px) {
    .footer-menu li {
      margin-right: 7px;
      margin-left: 7px; } }
  .footer-menu li a {
    font-size: 15px;
    color: #fff;
    transition: ease all 0.5s; }
    @media (max-width: 556px) {
      .footer-menu li a {
        font-size: 14px; } }
    .footer-menu li a:hover {
      opacity: 0.8;
      text-decoration: none; }

.social-link-footer a {
  color: #fff;
  font-size: 24px;
  margin-right: 7px;
  margin-left: 7px;
  transition: ease all 0.5s; }
  .social-link-footer a:hover {
    opacity: 0.8; }

.copyright {
  color: #fff;
  font-size: 15px; }

.gotop {
  position: fixed;
  right: -50px;
  bottom: 30px;
  z-index: 6; }

.gotop:focus {
  outline: none; }

.box-border {
  border: 1px solid #e0e0e0; }

.add-review {
  background-color: #0070e7;
  padding: 10px 15px;
  color: #fff; }

.modal-content {
  border-radius: 0; }

.success-msg {
  display: flex;
  font-size: 24px;
  color: #0072ec;
  align-items: center; }
  .success-msg span {
    background-color: #fff;
    border: 3px solid #0072ec;
    border-radius: 50%;
    color: #0072ec;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px; }
    .success-msg span i {
      font-size: 24px;
      line-height: 23px; }

.review-modal {
  background-color: #fff; }
  .review-modal .modal-dialog {
    margin: 15px auto; }

.review-form p {
  font-size: 16px;
  color: #4f4f4f;
  font-weight: 500; }
.review-form .upload-file {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border: 1px solid #d2d2d2; }
  .review-form .upload-file input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .review-form .upload-file .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .review-form .upload-file .flaticon {
    font-size: 34px;
    color: #222222;
    line-height: 30px; }
    .review-form .upload-file .flaticon:before {
      line-height: 34px; }
  .review-form .upload-file span {
    display: block;
    font-size: 36px;
    font-weight: 700;
    color: #4f4f4f;
    margin-right: 7px; }
.review-form textarea.form-control {
  padding-top: 15px;
  height: 143px;
  background-color: #f7f7f7;
  border: 1px solid #d2d2d2;
  resize: none; }
  .review-form textarea.form-control::-webkit-input-placeholder {
    color: #4f4f4f;
    opacity: 1; }
  .review-form textarea.form-control:-ms-input-placeholder {
    color: #4f4f4f;
    opacity: 1; }
  .review-form textarea.form-control::placeholder {
    color: #4f4f4f;
    opacity: 1; }

.btn {
  min-width: 154px;
  padding: 10px 15px;
  font-size: 18px; }
  .btn.cancel {
    background-color: #dfdfdf;
    color: #000; }
  .btn.done {
    background-color: #0070e7;
    color: #fff; }
  .btn.no {
    background-color: #dfdfdf;
    color: #000; }
  .btn.s_g {
    background-color: #0070e7;
    color: #fff; }

.switch-check {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #4f4f4f; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0;
  margin-right: 10px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.checkbox-style {
  width: 100%;
  height: 54px;
  position: relative; }

.checkbox-style input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer; }

.checkbox-style i {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  background: #f2f2f2;
  color: #000;
  border-radius: 50%;
  padding: 4px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.checkbox-style input[type=checkbox] + label {
  font-size: 16px;
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: #000;
  transition: ease all 1s; }

.checkbox-style input[type=checkbox]:checked + label {
  background: #0080FF;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  color: #fff;
  transition: ease all 1s; }

.c-p-c {
  padding-right: 84px; }

.categories {
  margin-left: -7px;
  margin-right: -7px; }
  .categories li {
    width: 20%;
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: 22px; }
  .categories.vertical {
    flex-direction: column; }
    .categories.vertical li {
      width: 100%; }

.explore-world-select .categories.vertical {
  flex-direction: column; }
  .explore-world-select .categories.vertical li {
    width: 100%;
    margin-bottom: 0.666em; }
    .explore-world-select .categories.vertical li:last-child {
      margin-bottom: 0; }
.explore-world-select .checkbox-style {
  width: 100%;
  height: 39px;
  position: relative; }
.explore-world-select .checkbox-style input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer; }
.explore-world-select .checkbox-style i {
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  background: #f2f2f2;
  color: #000;
  border-radius: 50%;
  padding: 4px;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
.explore-world-select .checkbox-style input[type=checkbox] + label {
  font-size: 12px;
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 6px;
  color: #000;
  transition: ease all 1s; }
.explore-world-select .checkbox-style input[type=checkbox]:checked + label {
  background: #0080FF;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  color: #fff;
  transition: ease all 1s; }

.plc {
  padding-left: 199px; }

.user-rating-box-wrapper {
  overflow-x: auto;
  width: calc(100% + 30px);
  transform: translateX(-15px);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 20px; }

.user-rating-box {
  width: 1110px; }
  .user-rating-box.header {
    width: calc(1110px - 199px); }
  .user-rating-box .number {
    width: 91px;
    flex: 0 0 91px;
    border-right: 1px solid #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .user-rating-box .number span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 57px;
      height: 57px;
      border: 3px solid #505050;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 500; }
  .user-rating-box .thumbs {
    width: 108px;
    flex: 0 0 108px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center; }
    .user-rating-box .thumbs .thumbs-nail {
      width: 77px;
      height: 77px; }
  .user-rating-box .country {
    width: 184px;
    flex: 0 0 184px;
    border-right: 1px solid #ccc;
    padding: 15px;
    display: flex;
    align-items: center; }
    .user-rating-box .country h5 {
      font-size: 18px;
      color: #4f4f4f;
      margin: 0; }
  .user-rating-box .rating-col {
    width: 167px;
    flex: 0 0 167px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center; }
    .user-rating-box .rating-col .star-rating {
      display: flex;
      align-items: center; }
      .user-rating-box .rating-col .star-rating i {
        font-size: 34px;
        margin-right: 10px; }
      .user-rating-box .rating-col .star-rating h5 {
        font-size: 18px;
        color: #4f4f4f;
        margin: 0; }
  .user-rating-box .your-rating {
    width: 119px;
    flex: 0 0 119px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center; }
    .user-rating-box .your-rating .star-rating {
      display: flex;
      align-items: center; }
      .user-rating-box .your-rating .star-rating i {
        font-size: 34px;
        margin-right: 10px; }
      .user-rating-box .your-rating .star-rating h5 {
        font-size: 18px;
        color: #4f4f4f;
        margin: 0; }
  .user-rating-box .user-rating {
    flex: 1;
    padding: 15px; }
    .user-rating-box .user-rating .inner-text {
      height: 78px;
      overflow: auto; }
      .user-rating-box .user-rating .inner-text .sub-title {
        font-size: 14px;
        margin: 0; }
      .user-rating-box .user-rating .inner-text .review-by {
        font-size: 11px;
        margin-bottom: 5px; }
        .user-rating-box .user-rating .inner-text .review-by span {
          display: inline-block;
          width: auto; }
      .user-rating-box .user-rating .inner-text .paragraph {
        font-size: 11px; }
  .user-rating-box .user-rating-header {
    flex: 1;
    padding: 15px; }
    .user-rating-box .user-rating-header h5 {
      font-size: 18px;
      color: #4f4f4f;
      margin: 0; }

.banner-cpation {
  min-height: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media (max-width: 556px) {
    .banner-cpation {
      min-height: 150px; } }
  .banner-cpation h3 {
    font-size: 2.5vw;
    color: #0072ec; }
    @media (max-width: 556px) {
      .banner-cpation h3 {
        font-size: 20px; } }
  .banner-cpation h2 {
    font-size: 4.5vw;
    font-weight: 900;
    color: #fff;
    font-family: Raleway, sans-serif; }
    @media (max-width: 556px) {
      .banner-cpation h2 {
        font-size: 30px; } }

.rating-box {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  padding: 10px;
  transition: ease all 1s;
  cursor: pointer; }
  .rating-box .icon {
    width: 45px;
    flex: 0 0 45px;
    align-items: center;
    margin-right: 10px; }
    .rating-box .icon .flaticon {
      font-size: 34px;
      color: #2f2f2f;
      display: block;
      line-height: 26px; }
  .rating-box .review {
    margin-right: 15px;
    flex: 0 0 20%;
    width: 20%; }
    .rating-box .review h5 {
      margin: 0;
      font-size: 16px;
      word-break: break-all; }
    .rating-box .review p {
      margin: 0;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.48); }
  .rating-box .date {
    width: 10%;
    flex: 0 0 10%;
    margin-right: 15px; }
    .rating-box .date h5 {
      margin: 0;
      font-size: 16px; }
    .rating-box .date p {
      margin: 0;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.48); }
  .rating-box .rating-bar {
    flex: 1;
    margin-right: 30px; }
    .rating-box .rating-bar .bar {
      height: 10px;
      width: 100%;
      border-radius: 3px;
      position: relative;
      background-color: #ababab; }
      .rating-box .rating-bar .bar .range {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #0070e7; }
  .rating-box .total-review {
    margin-left: auto; }
    .rating-box .total-review .flaticon {
      font-size: 26px;
      line-height: 24px;
      color: #4a4a4a;
      display: block; }
    .rating-box .total-review p {
      margin: 0;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.48); }
  .rating-box:hover {
    transform: scale(1.02); }

.v-c {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #0070e7;
  padding: 10px 15px;
  color: #fff; }
  .v-c .flaticon {
    font-size: 20px;
    display: block;
    line-height: 18px; }
  .v-c p {
    margin: 0;
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700; }

.rank-box {
  background-color: #ebebeb;
  padding: 15px;
  margin-right: 10px; }
  .rank-box .flaticon {
    font-size: 34px;
    color: #2c2d2e;
    line-height: 34px; }
  .rank-box .text span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #000; }

.rm {
  font-size: 14px;
  font-weight: 700;
  color: #0070e7; }

.sa {
  font-size: 14px;
  color: #000000;
  position: relative;
  display: inline-block; }
  .sa:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #0070e7;
    display: block;
    left: 0;
    top: 100%;
    position: absolute; }
  .sa:hover {
    text-decoration: none; }

.review-by {
  font-size: 13px; }
  .review-by .name {
    color: #0070e7; }
  .review-by .like-dislike {
    display: inline-block;
    color: #222222;
    font-size: 16px;
    top: 1px; }
    .review-by .like-dislike button:focus {
      outline: none; }

.paragraph {
  font-size: 14px;
  color: #000000; }

.sub-title {
  font-size: 18px;
  color: #000; }

.upload-images-ccontainer .big-img {
  width: 70%;
  flex: 0 0 70%;
  margin-right: 10px; }
.upload-images-ccontainer .thumbsnail {
  flex: 1;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .upload-images-ccontainer .thumbsnail .thumb {
    position: relative;
    height: 30.333%; }
    .upload-images-ccontainer .thumbsnail .thumb:last-child {
      margin-bottom: 0; }
    .upload-images-ccontainer .thumbsnail .thumb .overlay {
      background-color: rgba(255, 255, 255, 0.58);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
    .upload-images-ccontainer .thumbsnail .thumb .s-a-p {
      font-size: 14px;
      font-weight: 500;
      color: #000;
      width: 60%; }

.upload-file {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfcfcf; }
  .upload-file input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .upload-file .flaticon {
    font-size: 34px;
    color: #222222;
    line-height: 30px; }

.friend-search-box {
  width: 100%; }
  .friend-search-box input[type="text"] {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding-left: 30px;
    padding-right: 50px;
    font-size: 24px;
    border-radius: 80px;
   }
    .friend-search-box input[type="text"]:focus {
      outline: none; }
    .friend-search-box input[type="text"]::-webkit-input-placeholder {
      color: #6c6c6c; }
    .friend-search-box input[type="text"]:-ms-input-placeholder {
      color: #6c6c6c; }
    .friend-search-box input[type="text"]::placeholder {
      color: #6c6c6c; }
    .friend-search-box input[type="text"].compare-friend {
      height: 50px;
      font-size: 16px; }

.friend-search-btn {
  margin-left: -50px;
  background-color: #fff;
  color: #ababab;
  font-size: 23px;
  margin-top: 1px;
  margin-bottom: 1px; }
  .friend-search-btn:focus {
    outline: none; }

.friends-list-box {
  width: 1110px; }
  .friends-list-box.header {
    width: calc(1110px - 199px); }
  .friends-list-box .number {
    width: 91px;
    flex: 0 0 91px;
    border-right: 1px solid #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .friends-list-box .number span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 57px;
      height: 57px;
      border: 3px solid #505050;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 500; }
  .friends-list-box .thumbs {
    width: 108px;
    flex: 0 0 108px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px; }
    .friends-list-box .thumbs .thumbs-nail {
      width: 77px;
      height: 77px; }
  .friends-list-box .name {
    width: auto;
    flex: 1;
    padding: 15px;
    padding-left: 25px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center; }
    .friends-list-box .name h5 {
      font-size: 30px;
      color: #4f4f4f;
      margin: 0; }
  .friends-list-box .country-rating-col {
    width: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px; }
    .friends-list-box .country-rating-col h5 {
      font-size: 30px;
      color: #4f4f4f;
      margin: 0; }

.preference-box {
  display: flex;
  background-color: #fff;
  transition: ease all 1s;
  cursor: pointer; }
  .preference-box .icon {
    width: 70px;
    flex: 0 0 70px;
    align-items: center;
    margin-right: 10px;
    padding: 10px 15px;
    border-right: 1px solid #dedede; }
    .preference-box .icon .flaticon {
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      pointer-events: none;
      background: #f2f2f2;
      color: #000;
      border-radius: 50%;
      padding: 4px;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center; }
  .preference-box .ctg-name {
    margin-right: 15px;
    flex: 0 0 30%;
    width: 30%;
    padding: 10px;
    border-right: 1px solid #dedede;
    display: flex;
    align-items: center; }
    .preference-box .ctg-name h5 {
      margin: 0;
      font-size: 16px;
      color: #3a3a3a;
      font-weight: 400; }
  .preference-box .slide-range {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 15px; }
    .preference-box .slide-range .ui-slider {
      width: 100%; }
      .preference-box .slide-range .ui-slider .ui-slider-handle {
        width: 23px;
        height: 23px;
        background-color: #676767;
        border-radius: 50%;
        cursor: pointer; }
        .preference-box .slide-range .ui-slider .ui-slider-handle:focus {
          outline: none !important; }
        .preference-box .slide-range .ui-slider .ui-slider-handle.ui-state-active {
          background-color: #676767;
          border: 1px solid #fff; }
      .preference-box .slide-range .ui-slider .ui-widget-header {
        background-color: #0072ec;
        border-radius: 20px; }
    .preference-box .slide-range .ui-widget.ui-widget-content {
      background-color: #e0e0e0;
      border: 0;
      border-radius: 20px; }
  .preference-box:hover {
    transform: scale(1.02); }

.find-btn {
  background-color: #0072ec;
  display: flex;
  padding: 15px; }
  .find-btn span {
    display: block; }
    .find-btn span:first-child {
      background-color: #fff;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px; }
      .find-btn span:first-child i {
        color: #0072ec;
        font-size: 26px; }
    .find-btn span:last-child {
      color: #fff;
      font-size: 24px;
      width: 180px;
      line-height: 27px; }
  .find-btn:hover {
    text-decoration: none; }

.visited-place-wrapper .plc {
  padding-left: 264px; }

.visited-place-list-box {
  width: 1110px; }
  .visited-place-list-box.header {
    width: calc(1110px - 264px); }
  .visited-place-list-box .number {
    width: 130px;
    flex: 0 0 130px;
    border-right: 1px solid #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .visited-place-list-box .number span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 57px;
      height: 57px;
      border: 3px solid #505050;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 500; }
  .visited-place-list-box .thumbs {
    width: 134px;
    flex: 0 0 134px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px; }
    .visited-place-list-box .thumbs .thumbs-nail {
      width: 112px;
      height: 112px; }
  .visited-place-list-box .name {
    width: auto;
    flex: 1;
    padding: 15px;
    padding-left: 25px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center; }
    .visited-place-list-box .name h5 {
      font-size: 30px;
      color: #4f4f4f;
      margin: 0; }
  .visited-place-list-box .country-rating-col {
    width: auto;
    flex: 0 0 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px; }
    .visited-place-list-box .country-rating-col h5 {
      font-size: 30px;
      color: #4f4f4f;
      margin: 0; }
    .visited-place-list-box .country-rating-col .progress-bar {
      background-color: transparent;
      width: 108px;
      height: 108px; }

.compare-box-header {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 15px; }
  .compare-box-header h4 {
    font-size: 18px;
    color: #4f4f4f;
    margin: 0; }

.compare-box-body {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 15px; }
  .compare-box-body ul li {
    font-size: 17px;
    color: #4f4f4f;
    margin-bottom: 5px; }
    .compare-box-body ul li span {
      color: #0072ec; }
    .compare-box-body ul li:last-child {
      margin: 0; }

.you {
  position: relative; }
  .you:after {
    width: 66px;
    height: 5px;
    background-color: #0072ec;
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 50%; }

.friend {
  position: relative; }
  .friend:before {
    width: 66px;
    height: 5px;
    background-color: #0072ec;
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 50%; }

.match-friend-select {
  margin-right: -8px;
  margin-left: -7px; }
  .match-friend-select [class*="col"] {
    padding-left: 8px;
    padding-right: 8px; }
  .match-friend-select .categories li {
    margin-bottom: 18.5px; }
  .match-friend-select .checkbox-style input[type=checkbox] + label {
    font-size: 13px;
    padding-left: 10px; }

.agree-list-box-wrap .plc {
  padding-left: 306px; }

.agree-list-box {
  width: 100%; }
  .agree-list-box.header {
    width: calc(100% - 0px); }
  .agree-list-box .number {
    width: 78px;
    flex: 0 0 78px;
    border-right: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .agree-list-box .number span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 57px;
      height: 57px;
      border: 3px solid #505050;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 500; }
  .agree-list-box .thumbs {
    width: 76px;
    flex: 0 0 76px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px; }
    .agree-list-box .thumbs .thumbs-nail {
      width: 56px;
      height: 56px; }
  .agree-list-box .name {
    width: auto;
    flex: 1;
    padding: 10px;
    padding-left: 10px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center; }
    .agree-list-box .name h5 {
      font-size: 17px;
      color: #4f4f4f;
      margin: 0; }
  .agree-list-box .you_c {
    width: auto;
    flex: 0 0 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-right: 1px solid #ccc; }
    .agree-list-box .you_c .star-rating {
      display: flex;
      align-items: center;
      justify-content: center; }
      .agree-list-box .you_c .star-rating span {
        display: inline-block;
        margin-right: 5px; }
        .agree-list-box .you_c .star-rating span i {
          line-height: 14px; }
      .agree-list-box .you_c .star-rating h5 {
        font-size: 17px;
        color: #4f4f4f;
        margin: 0; }
  .agree-list-box .delta {
    width: auto;
    flex: 0 0 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-right: 1px solid #ccc; }
    .agree-list-box .delta .star-rating {
      display: flex;
      align-items: center;
      justify-content: center; }
      .agree-list-box .delta .star-rating span {
        display: inline-block;
        margin-right: 5px; }
        .agree-list-box .delta .star-rating span i {
          line-height: 14px; }
      .agree-list-box .delta .star-rating h5 {
        font-size: 17px;
        color: #4f4f4f;
        margin: 0; }
  .agree-list-box .friend_c {
    width: auto;
    flex: 0 0 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; }
    .agree-list-box .friend_c .star-rating {
      display: flex;
      align-items: center;
      justify-content: center; }
      .agree-list-box .friend_c .star-rating span {
        display: inline-block;
        margin-right: 5px; }
        .agree-list-box .friend_c .star-rating span i {
          line-height: 14px; }
      .agree-list-box .friend_c .star-rating h5 {
        font-size: 17px;
        color: #4f4f4f;
        margin: 0; }

@media (max-width: 992px) {
  .coutries {
    padding-right: 15px; }

  .flydata-navbar .navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0px;
    top: 60px; }
  .flydata-navbar .navbar-brand {
    width: 120px; }
  .flydata-navbar .navbar-toggler {
    position: absolute;
    right: 15px;
    color: #fff; }
    .flydata-navbar .navbar-toggler:focus {
      outline: none; }
  .flydata-navbar .links {
    padding-right: 50px !important; }
  .flydata-navbar .navbar-nav .nav-item.active .nav-link:before {
    display: none; }

  .carousel-btns {
    position: absolute;
    z-index: 2;
    justify-content: space-between;
    transform: translate(0px, 0%);
    width: 100%;
    left: 0;
    bottom: 50%; }

  .caption-h1, .s-t h2 {
    font-size: 34px; }

  .banner-right {
    padding-top: 20px;
    padding-left: 15px; }

  .search-box {
    width: 100%; }

  .flydata-card .card-list .text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }

  .box {
    margin-bottom: 15px; }
    .box .category-name h4 {
      font-size: 30px; }

  .c-p-c {
    padding-right: 15px; }

  .categories li {
    width: 25%; }

  .map-box {
    margin-bottom: 15px; }

  .explore-world-select .categories.vertical {
    flex-direction: row; }
    .explore-world-select .categories.vertical li {
      width: 33.333%;
      flex: 0 0 33.333%; } }
@media (max-width: 767px) {
  .box-border {
    border: 0; }

  .rating-box .icon {
    width: 35px;
    flex: 0 0 35px;
    margin-right: 5px; }
  .rating-box .review {
    margin-right: 5px;
    flex: 0 0 26%;
    width: 26%; }
    .rating-box .review h5 {
      font-size: 13px; }
    .rating-box .review p {
      font-size: 12px; }
  .rating-box .date {
    margin-right: 5px; }
    .rating-box .date h5 {
      font-size: 13px; }
    .rating-box .date p {
      font-size: 12px; }
  .rating-box .rating-bar {
    margin-right: 10px; }

  .upload-images-ccontainer .thumbsnail .thumb .s-a-p {
    font-size: 12px;
    line-height: 12px;
    width: 100%; }

  .c-p-c {
    padding-right: 15px; }

  .categories li {
    width: 50%;
    margin-bottom: 14px;
    flex: 0 0 50%; }

  .explore-world-select .categories.vertical li {
    width: 50%;
    margin-bottom: 14px;
    flex: 0 0 50%; }
    .explore-world-select .categories.vertical li:first-child {
      margin-right: 15px; }

  .checkbox-style, .explore-world-select .checkbox-style {
    height: 44px; }

  .checkbox-style i {
    font-size: 18px;
    line-height: 24px;
    width: 30px;
    height: 30px;
    margin-right: 7px; }

  .checkbox-style input[type=checkbox] + label, .explore-world-select .checkbox-style input[type=checkbox] + label {
    padding-left: 8px;
    font-size: 12px; }

  .checkbox-style input[type=checkbox]:checked + label, .explore-world-select .checkbox-style input[type=checkbox]:checked + label {
    padding-left: 8px; }

  .user-rating-box-wrapper {
    padding-left: 0px; }

  .user-rating-box {
    width: 100%; }
    .user-rating-box.header {
      width: calc(100% - 0px); }
    .user-rating-box .number {
      width: 50px;
      flex: 0 0 50px;
      padding: 10px; }
      .user-rating-box .number span {
        width: 30px;
        height: 30px;
        font-size: 17px; }
    .user-rating-box .thumbs {
      width: 54px;
      flex: 0 0 54px;
      padding: 10px; }
      .user-rating-box .thumbs .thumbs-nail {
        width: 34px;
        height: 34px; }
    .user-rating-box .country {
      width: 67px;
      flex: 0 0 67px;
      padding: 10px; }
      .user-rating-box .country h5 {
        font-size: 13px; }
    .user-rating-box .rating-col {
      width: 116px;
      flex: 0 0 116px;
      padding: 10px; }
      .user-rating-box .rating-col .star-rating i {
        font-size: 24px; }
      .user-rating-box .rating-col .star-rating h5 {
        font-size: 13px; }
    .user-rating-box .your-rating {
      width: auto;
      flex: 1;
      padding: 10px;
      border-right: 0; }
      .user-rating-box .your-rating .star-rating i {
        font-size: 24px; }
      .user-rating-box .your-rating .star-rating h5 {
        font-size: 13px; }
    .user-rating-box .user-rating {
      display: none; }
      .user-rating-box .user-rating .inner-text {
        height: 48px; }
    .user-rating-box .user-rating-header {
      display: none; }
      .user-rating-box .user-rating-header h5 {
        font-size: 16px; }

  .plc {
    padding-left: 102px; }

  .friends-list-box {
    width: 100%; }
    .friends-list-box.header {
      width: calc(100% - 0px); }
    .friends-list-box .number {
      width: 50px;
      flex: 0 0 50px;
      padding: 10px; }
      .friends-list-box .number span {
        width: 30px;
        height: 30px;
        font-size: 17px; }
    .friends-list-box .thumbs {
      width: 54px;
      flex: 0 0 54px;
      padding: 10px; }
      .friends-list-box .thumbs .thumbs-nail {
        width: 34px;
        height: 34px; }
    .friends-list-box .name {
      padding: 10px; }
      .friends-list-box .name h5 {
        font-size: 13px; }
    .friends-list-box .country-rating-col {
      padding: 10px; }
      .friends-list-box .country-rating-col h5 {
        font-size: 13px; }

  .friend-search-box input[type="text"] {
    height: 50px;
    font-size: 13px;
    padding-left: 15px; 
    border-radius:30px;
  }

  .visited-place-list-box {
    width: 100%; }
    .visited-place-list-box.header {
      width: calc(100% - 0px); }
    .visited-place-list-box .number {
      width: 50px;
      flex: 0 0 50px;
      padding: 10px; }
      .visited-place-list-box .number span {
        width: 30px;
        height: 30px;
        font-size: 17px; }
    .visited-place-list-box .thumbs {
      width: 64px;
      flex: 0 0 64px;
      padding: 10px; }
      .visited-place-list-box .thumbs .thumbs-nail {
        width: 40px;
        height: 40px; }
    .visited-place-list-box .name {
      padding: 10px; }
      .visited-place-list-box .name h5 {
        font-size: 13px; }
    .visited-place-list-box .country-rating-col {
      padding: 10px;
      width: 100px;
      flex: 0 0 100px; }
      .visited-place-list-box .country-rating-col h5 {
        font-size: 13px; }

  .visited-place-wrapper .plc {
    padding-left: 113px; }

  .caption-h1, .s-t h2 {
    font-size: 26px; }

  .find-btn {
    padding: 10px 15px; }
    .find-btn span:first-child {
      width: 36px;
      height: 36px; }
      .find-btn span:first-child i {
        font-size: 18px; }
    .find-btn span:last-child {
      font-size: 16px;
      width: 110px;
      line-height: 18px; }

  .you {
    width: 70px; }
    .you:after {
      width: 55%; }

  .friend {
    width: 70px; }
    .friend:before {
      width: 55%; }

  .agree-list-box-wrap {
    margin-right: -15px;
    margin-left: -15px; }
    .agree-list-box-wrap .plc {
      padding-left: 172px; }

  .agree-list-box .number {
    width: 50px;
    flex: 0 0 50px;
    padding: 10px; }
    .agree-list-box .number span {
      width: 30px;
      height: 30px;
      font-size: 17px; }
  .agree-list-box .thumbs {
    width: 54px;
    flex: 0 0 54px;
    padding: 10px; }
    .agree-list-box .thumbs .thumbs-nail {
      width: 34px;
      height: 34px; }
  .agree-list-box .name {
    width: 67px;
    flex: 0 0 67px;
    padding: 10px; }
    .agree-list-box .name h5 {
      font-size: 13px; }
  .agree-list-box .you_c {
    flex: 0 0 59px; }
    .agree-list-box .you_c .star-rating h5 {
      font-size: 13px; }
    .agree-list-box .you_c h5 {
      font-size: 13px; }
  .agree-list-box .delta {
    flex: 0 0 59px; }
    .agree-list-box .delta .star-rating h5 {
      font-size: 13px; }
    .agree-list-box .delta h5 {
      font-size: 13px; }
  .agree-list-box .friend_c {
    flex: 0 0 59px; }
    .agree-list-box .friend_c .star-rating h5 {
      font-size: 13px; }
    .agree-list-box .friend_c h5 {
      font-size: 13px; }

  .success-msg {
    font-size: 18px; }

  .review-form p {
    font-size: 12px;
    line-height: 14px; }
  .review-form .upload-file {
    height: 40px; }
    .review-form .upload-file .flaticon {
      font-size: 28px;
      line-height: 24px; }
    .review-form .upload-file span {
      font-size: 24px; }
  .review-form textarea.form-control {
    font-size: 14px;
    height: 100px;
    padding-top: 8px; }

  .switch-check {
    font-size: 14px; }

  .btn {
    font-size: 14px;
    padding: 5px 15px;
    min-width: 46%; }

  .review-modal .modal-dialog {
    margin: 0; }

  .review-modal {
    background-color: transparent; }
    .review-modal .modal-dialog {
      margin: .5rem; }

  .owl-carousel .owl-stage-outer, .owl-carousel.owl-drag .owl-item, .coutries-carousel .item {
      height: 200px; 
    } 
  }

/*# sourceMappingURL=style.css.map */
